.Joke {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
}

.Joke_vote {
    padding: .5em 2em;
}

.Joke_joke {
    flex-grow: 1;
    padding: .5em 2em;
}

.Joke_emoji {
    padding: .5em 2em;
}